.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


main {
  text-align: center;
  padding: 20px;
  flex-grow: 1; /* Kitölti a rendelkezésre álló helyet */
}

/* Formázások */
.form-container {
  background: #ffffff;
  border-radius: 10px;
  padding: 20px;
  max-width: 400px;
  margin: 20px auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin: 10px 0;
  font-weight: bold;
}

input[type="number"] {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.gender-container {
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
}

button {
  padding: 10px 20px;
  margin: 10px 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.calculate-btn {
  background: #e63946;
  color: white;
  border-radius: 10px 0px 0px 10px;
  margin-right: 2px;
}

.clear-btn {
  background: #333;
  color: white;
  border-radius: 0px 10px 10px 0px;
}

.result {
  margin-top: 20px;
  font-size: 18px;
  color: #444;
}


.social-icons a {
  margin: 0 10px;
  font-size: 20px;
  text-decoration: none;
  color: #555;
}

#login-btn{
  position: absolute;
  right: 25px;
  top: 25px;
}

#radio-btn-gender{
  margin-right: 5px;
}

#gender-label{
  margin-right: 5px;
}

.mainStyle {
  margin-top: 5%;
}